.background{
    -fx-background-color: brown;
}


.button {
    -fx-background-color: #e5e5e5;
    -fx-text-fill: #000000;
    -fx-border-radius: 2px;
    -fx-cursor: hand;
    -fx-min-width: 75px;
    -fx-max-width: 100px;
    -fx-pref-width: 80px;

    -fx-start-margin: 10px;
    -fx-end-margin: 10px;
    -fx-wrap-text: true;
}

.button:hover{
    -fx-background-color: #c6c6c6;
}


.linienButton{
    -fx-background-color: transparent;
    -fx-min-width: 150px;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
}

.button-icon{
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-pref-width: 40px;

    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-pref-height: 40px;

    -fx-padding: 10;
    -fx-end-margin: 10;
}

.slider .track {
    -fx-background-color: green;



    -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0.25em, 0.25em, 0.166667em; /* 3 3 2 */
    -fx-padding: 0.25em; /* 3 */
}

.slider .thumb {
    -fx-background-color: white;

}

.menu{
    -fx-min-width: 40px;
    -fx-max-width: 40px;
    -fx-pref-width: 40px;
    -fx-background-color: #e5e5e5;
    -fx-text-fill: #000000;
    -fx-cursor: hand;
    -fx-border-radius: 2px;
}

.menu:hover{
    -fx-background-color: #c6c6c6;
    -fx-text-fill: #000000;

}

.menu:selected{
    -fx-text-fill: #000000;
}
.menu-bar{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.menu-item{

}